/*
Theme Name: Craiglistmarketingpro

*/


@media screen and (max-width: 980px) {
.carousel-caption {
 
  top: 0;

}
.weacpt_title h1 {
  
  font-size: 28px;
  
}
.whoweare_icon {
    margin-top: 10px;
}
.border_right_left{
    border-right: none;
    border-left: none;
}
.navbar-brand > img {
  height: 50px;
  width: 200px;
}
.social_link ul li i {
  background-color: #14a4fa;
  border: medium none;
  border-radius: 5px;
  color: #f4fff2;
  font-size: 15px;
  height: 30px;
  padding: 8px;
  transition: all 0.5s ease-in-out 0s;
  width: 28px;
}
}
@media screen and (max-width: 768px) {

 .carousel-indicators {
 display: none;
}

}

@media screen and (max-width: 640px) {

.carousel-caption h1 {
  font-size: 20px;
  padding: 10px;
  
}
 .carousel-caption p {
  font-size: 15px;
  padding: 2px;
} 
.topbar_content{
    margin-right: 30%;
}
.social_link {
  margin-left: 35%;
}
#colophon p {

  text-align: center;
}
.navbar-default .navbar-nav > li > a {

  border-radius: 0;
  
}
.weacpt_title h1 {
  font-size: 20px;
}
.section_title h2 {
  font-size: 30px;
}
.section_description p {
  
  font-size: 18px;
  
}
.whoweare_title h2 {
  
  font-size: 30px;
  
  width: 300px;
}


.vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-title > a {
 background-color: #15a4fa!important;
  border-color: #15a4fa!important;
  color: #ffffff!important;
}
.vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-title > a {
   background-color: transparent;
  
  color: #5d5d5d!important;
}
.vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title > a {
  background-color: #15a4fa!important;
  border-color: #15a4fa!important;
  color: #ffffff!important;
}
.vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title > a {
  background-color:#b0d1fa!important;
  color: #000!important;
  border: none!important;
  border-radius: 0!important;
}
}

@media screen and (max-width: 480px) {
.carousel-control {
  display: none;
}
.carousel-caption p {
  font-size: 10px;
  padding: 0;
}
.link .custom-btn {
  border: 1px solid #15a4fa;
  color: #ffffff;
  display: inline-block;
  margin-top: 1px;
  overflow: hidden;
  padding: 2px 20px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.topbar_content{
    margin-right: 25%;
}
.social_link {
  margin-right: 30%;
  margin-bottom: 5px;
}
.carousel-caption h1 {
 
  width: 250px;
}
.whoweare_title h2 {
  font-size: 20px;
  width: 250px;
}
.whoweare h3 {
  
  font-size: 20px;
  
}
.contact_title h2 {
  
  font-size: 30px;
 
}
.weacpt_title h1 {
  
  padding: 2px;
  
}
.contact_desc p {
  
  padding: 15px;
  text-align: justify;
}
}

@media screen and (max-width: 320px) {

.carousel-caption p {
   display: none;
}
.topbar_content{
    margin-right: 20%;
}
.social_link {
  margin-right: 20%;
}
.carousel-caption h1 {
  border-bottom: medium none;
  
}
.weacpt_title h1 {
  font-size: 10px;
}
.h2, h2 {
  font-size: 26px!important;
}
.custom_pakage_title h2::after {
 
  margin-left: -176px;
  
}
}