/*
Theme Name: Craiglistmarketingpro
Theme URI: http://webdesignernet.com
Author: Sajjad Hossain
Author URI: http://webdesignernet.com
Description: This theme made for craiglistmarketingpro.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: craiglistmarketingpro
Tags: Craiglistmarketingpro,WordPress theme,Responsive.

*/


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/


html {
	font-family: 'Myriad Pro Regular';
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
      
}

body {
	margin: 0;
        padding: 0;
         font-family: 'Myriad Pro Regular';
        line-height: 25px;
        font-size: 16px;
        background-color: #e5effc!important;
      
}
.h1, .h2, .h3, .h4, .h5, .h6, .p, h1, h2, h3, h4, h5, h6, p {
   font-family: 'Myriad Pro Regular';
}
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('fonts/Myriad Pro Regular.eot');
  src: url('fonts/Myriad Pro Regular.woff2') format('woff2'),
       url('fonts/Myriad Pro Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('fonts/MyriadPro-Regular.woff') format('woff'),
       url('fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar{
    width: 100%;
    height: 50px;
    background-color: #e5effc;
    overflow: hidden;
}
.topbar_content{
    
}
.topbar_content  ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topbar_content ul li {
  float: left;
  padding-top: 4%;
}
.topbar_content ul li a{
    text-decoration: none;
    padding:5px;
    transition: all 0.5s ease-in-out;
}
.topbar_content ul li a:hover{ 
    color:#b0d1fa
}
.topbar_content ul li i:hover {
    color: #14A4FA;
    border: none;
    border-radius: 100%;
    background: #dd4b39;
    
}
.topbar_content ul li a:focus{
outline: none;
}
.topbar_content ul li i {
  background-color: #14a4fa;
  border: medium none;
  border-radius: 5px;
  color: #f4fff2;
  font-size: 15px;
  height: 35px;
  padding: 11px;
  width: 35px;
     transition: all 0.5s ease-in-out;
}

/*--------------------------------------------------------------
# Header and nav
--------------------------------------------------------------*/

.navbar-brand > img {
  width: 300px;
  height: 60px;
}
.navbar-default {
  background-color: #b0d1fa!important;
  border-color: #e7e7e7!important;
  padding: 10px 0;
}
.navbar-default .navbar-nav > li > a {
  border: medium none;
  border-radius: 10px;
  color: #000000 !important;
  font-family: 'Myriad Pro Regular';
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: all 0.5s ease-in-out 0s;
}
.navbar-nav > li > a {
  line-height: 25px;
  
}
.logo a:focus{
    outline: none;
}
.navbar-brand {

  padding: 0px!important;
}
.navbar-default .navbar-nav > li > a:focus{
      outline: none;
}
.navbar-default .navbar-nav > li > a:hover {
    text-decoration: none;
    background-color:#16a4f8!important;
    color:#ffffff!important;
  
}
.navbar-default .navbar-toggle {
  border-color: #15a4fa!important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff!important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:#15a4fa!important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #16a4f8!important;
  color: #000000!important;
}
.stickynav{
    
    z-index: 9999;
}
/*make the menu sub-menu items drop down on mouse hover */
ul li.dropdown:hover > ul.dropdown-menu{
    display: block;
    margin: 0;
}
.dropdown-menu > li > a {
  color: #000000;
  background-color: #b0d1fa;
  transition: all 0.5s ease-in-out;
}
.dropdown-menu {
 
  background-color: #b0d1fa!important;
  border: 1px solid #b0d1fa;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176); 
  margin: 2px 0 0;
  padding: 5px 0;
  transition: all 0.5s ease-in-out;

}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #ffffff!important;
    text-decoration: none;
    background-color: #15a4fa!important;
}
.dropdown .dropdown-menu{
    display: block; 
  opacity:0;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

/*--------------------------------------------------------------
# Blog content
--------------------------------------------------------------*/

.entry-content{
    padding: 20px 0;
   
}
.post-info h2{
 font-family: 'Myriad Pro Regular';
   font-size: 25px;
   font-weight: 300;
   color:#000000;
   margin-top: 1px;
   margin-bottom: 5px;    
}
.post-info a{
    text-decoration: none;
    color: #000000;
     transition: all 0.5s ease-in-out;     
}
.post-info a:hover{
    text-decoration: none;
    color: #16A4F8;
}
.post-info a:focus{
    outline: none;
    text-decoration: none;
}
.post-media{
  margin-bottom: 10px;
}
.entry-footer {
  background-color: #b0d1fa;
  border: medium none;
  border-radius: 5px;
  margin-bottom: 35px;
  padding: 20px 0;
}

.post-body p {
  color: #000000;
 font-family: 'Myriad Pro Regular';
  font-size: 16px;
  font-weight: 300;
  padding: 10px 0;
  text-align: justify;
}
.author_bar a{
     text-decoration: none;
    color: #000000;
     transition: all 0.5s ease-in-out;
    font-family: 'Myriad Pro Regular';
   font-size: 14px;
   font-weight: 300;
   
}
.author_bar a:hover{
     text-decoration: none;
    color: #ffffff;
     
}
.entry-footer h6 {
  margin-bottom: 10px;
  margin-top: -18px;
}
.post-media img{
    width: 100%;
    height: 100%;
}
.post-media a{
    transition: all 0.5s ease-in-out;
}
.post-media a:hover{
    
    
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.post-pagination {
    padding: 10px;
}
.post-pagination ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.post-pagination  ul li{
    float: left;
}
.post-pagination ul li a {
  border: 1px solid #b0d1fa;
  color: #13b1ee;
 font-family: 'Myriad Pro Regular';
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  margin: 2px;
  transition: all 0.5s ease-in-out;
}
.post-pagination ul li a:hover{
    background-color: #15a4fa;
    color: #ffffff;
     border: 1px solid #15a4fa;
}
.post-pagination .current:hover{
     background-color: #15a4fa;
    color: #ffffff;
    border: 1px solid #15a4fa;
}
.post-pagination ul li a i{
    font-size: 20px;
}
.post-pagination .current{
   font-size: 20px;
    padding: 10px 15px;
    text-decoration: none;
    color: red; 
    border: 1px solid #b0d1fa;
    margin: 2px;
}


/*--------------------------------------------------------------
# widget
--------------------------------------------------------------*/

#content-bottom-widgets{
    padding: 30px 0;
    background-color: #6f7f89;
}
.widget-area{
    padding: 20px 0;
}
#content-bottom-widgets h2{
  color: #ffffff;
  font-family: 'Myriad Pro Regular';
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
  text-transform: uppercase;
 
}
#content-bottom-widgets p{
  color: #ffffff;
 font-family: 'Myriad Pro Regular';
  font-size: 14px;
  font-weight: 300;
  padding: 5px;
  text-align: justify;
}
#content-bottom-widgets i {
  color: #71b6d5;
  font-size: 20px;
  padding-right: 20px;
}
#content-bottom-widgets #newslettermail {
  background: #000 none repeat scroll 0 0;
  border: medium none;
  width: 80%;
  padding: 10px 5px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px; 
}
#content-bottom-widgets #newslettersubmit {
  background: #71b6d5;
  border: medium none;
  padding: 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
   border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}

.widget-title{
  color: #333;
 font-family: 'Myriad Pro Regular';
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
  text-transform: uppercase;
    
}
.search-form {
    border-bottom: 0 !important;
    position: relative;
}
.search-form .search-field {
    border: 2px solid #14A3F9;
    color: #14A3F9;
    font-size: .93em;
    padding: 12px 45px 12px 15px;
}
.search-form .search-field:focus {
    border: 2px solid #14A3F9;
    outline: 0;
}
.search-submit {
    background: transparent;
    border: none;
    color: #14A3F9;
    display: block !important;
    top: 50%;
    right: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-right: 10px;
}
.search-submit:focus {
    border: none;
    outline: 0;
}


.widget_search>form, .search-form {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 3px solid #e6e6e6;
	z-index: 0;
}
.widget_search>form input:focus,
.widget_search>form input,
.search-form input:focus,
.search-form input {
	border:none;
	outline: none;
}
.widget_search>form input,  .search-form input {
	background-color: transparent;
	line-height: 25px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 12px 15px 12px 62px;
	z-index: -1;
}
.widget_search>form .btn,
.widget_search>form .btn:before,
 .search-form .btn,
 .search-form .btn:before {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.widget_search>form .btn,
.search-form .btn {
	background-color: transparent;
	color: #14A3F9;
	font-size: 1.25em;
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.widget_search>form .btn:before,
 .search-form .btn:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	height: 30px;
	width: 30px;
	background-color: transparent;
	opacity: 0;
	z-index: -1;
}
.widget_search>form .btn:hover:before,
.search-form .btn:hover:before {
	background-color: #b2b2b2;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 50px;
	opacity: 1;
}
.widget_search>form .btn:hover,
.search-form .btn:hover {
	color: #ffffff;
}
.sidebar .social-list a {
    background: #15a4fa;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 1em;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s ease-in-out;
}
.sidebar .social-list a:hover {
    background: #e74c3c;
    color: #ffffff !important;
}

.sidebar .post-thumbnail img{
    
    width:70px;
    padding: 5px;
}
.sidebar .entry-title {
    font-size: 14px;
}
.sidebar .entry-title a:hover{
    text-decoration: none;
}
.sidebar .post-meta {
    font-size: .875em;
    padding-top: 8px;
}
.sidebar .type-post{
    padding: 10px 0;
}
.sidebar .post-content{
  
}
ul.social-list li{
    display: inline-block;
}

/*--------------------------------------------------------------
     # Slider
----------------------------------------------------------------*/
.carousel-control.left {
  background-image: none!important;
  
}
.carousel-control.right {
  background-image: none!important;
  
}
.carousel-control i {
  background: #c6bfbc none repeat scroll 0 0;
  box-shadow: 1px 1px 1px 1px #000000;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.6;
  padding: 5px 10px;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}
.carousel-control i:focus, .carousel-control i:hover {
    color: #ffffff!important;
    
    background-color: #16A4F8!important;
     box-shadow: none;
     border: none;
     border-radius: 5px;
}
.carousel-control {
  
  top: 50%!important;
  
}
.carousel-indicators .active {
  background-color: #15a4fa!important;
 border: 1px solid #15a4fa!important;
}
.carousel-indicators li {
  background-color: #ffffff!important;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  width: 10px;
}
.carousel-caption {
  bottom: 20px;
  top:20%;
  color: #fff;
  left: 15%;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  right: 15%;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.carousel-caption h1 {
  border-bottom: 1px solid #15a4fa;
  color: #ffffff;
  font-family: 'Myriad Pro Regular';
  font-size: 50px;
  font-weight: 400;
  margin: auto;
  padding: 15px;
  text-transform: uppercase;
  width: 300px;
}


.carousel-caption p{
  color: #ffffff;
 font-family: 'Myriad Pro Regular';
  font-size: 20px;
  font-weight: 300;
  padding: 15px; 
}

.link *:before, 
.link *:after {
	z-index: -1;
  	box-sizing: border-box;
  	-webkit-transition: 0.5s;
  	   -moz-transition: 0.5s;
  		-ms-transition: 0.5s;
  		 -o-transition: 0.5s;
  			transition: 0.5s;
}
.link a {
  text-decoration: none;
  line-height: 40px;
  color: black;
  background-color: transparent;
}

.link .custom-btn {
	color: #ffffff;
  	position: relative;
  	display: block;
  	margin-top: 40px;
  	padding: 5px 35px;
  	text-transform: uppercase;
  	border: 1px solid #15a4fa;
  	display: inline-block;
  	z-index: 1;
  	overflow: hidden;
}
.link .custom-btn:before,
.link .custom-btn:after {
  	content: '';
  	position: absolute;
  	width: 0;
  	height: 0;
  	border-style: solid;
  	border-width: 0 0 0 0;
  	-webkit-transform: rotate(360deg);
  	   -moz-transform: rotate(360deg);
  		-ms-transform: rotate(360deg);
  		 -o-transform: rotate(360deg);
  			transform: rotate(360deg);
}
.link .custom-btn:before {
	bottom: 0;
  	left: 0;
  	border-color: transparent transparent transparent #15a4fa;
}
.link .custom-btn:after {
  	top: 0;
  	right: 0;
  	border-color: transparent #15a4fa transparent transparent;
}
.link .custom-btn:hover {
  border: 1px solid #15a4fa;
}
.link a:active, .wrap a:hover {
  outline: 0;
}
.link .custom-btn:hover:before {
  border-width: 165px 0 0 165px;
}
.link .custom-btn:hover:after {
  border-width: 0 165px 165px 0;
}

.link a {
    text-decoration: none;
    line-height: 40px;
    color: black;
    background-color: transparent;
}
.link a:hover{
   text-decoration: none; 
}
.link .custom-btn:hover {
    border: 1px solid #15a4fa;
}
/*--------------------------------------------------------------
# About Home page
--------------------------------------------------------------*/
.about{
    padding: 30px 0;
    background-color: #b0d1fa;
}

.section_title h2{
  color: #2d3950;
 font-family: 'Myriad Pro Regular';
  font-size: 40px;
  font-weight: 400;
  padding: 10px;
  
}
.section_description p{
    color: #5d5d5d;
 font-family: 'Myriad Pro Regular';
 padding: 10px;
  font-size: 16px;
  text-align: justify;
}
.about_more_link .btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
}
.about_more_link .btn-primary {
  background-color: #009cd5;
  border-color: #009cd5;
  color: #fff;
}
.Weacept{
    position: relative;
}
.weacpt_title {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: -15px;
}
.weacpt_title h1{
   color: #ffffff;
 font-family: 'Myriad Pro Regular';
  font-size: 45px;
  font-weight: 400;
  padding: 10px; 
  text-transform: uppercase;
}
/*--------------------------------------------------------------
# Who we are 
--------------------------------------------------------------*/
.whoweare{
    padding: 30px 0;
    background-color: #e5effc;
}
.whoweare_title h2 {
  color: #000000;
  font-family: 'Myriad Pro Regular';
  font-size: 40px;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid#009cd5;
  width:350px;
  margin: auto ;
}
.whoweare h3{
  color: #000000;
  font-family: 'Myriad Pro Regular';
  font-size:18px;
  padding: 10px;
  text-transform: uppercase;
}
.whoweare p{
    color: #000000;
  font-family: 'Myriad Pro Regular';
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
 text-align: justify;
}
.whoweare_icon i {
  border: 1px solid #42acf3;
  border-radius: 100%;
  color: #42acf3;
  font-size: 60px;
  height: 100px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s ease-in-out;
}
.whoweare_icon i:hover{
    background-color:#42acf3; 
    color: #ffffff;
}
.project_content{
    padding: 35px 0;
}
.project_content img{
    
    padding: 10px;
}
/*--------------------------------------------------------------
# Contat
--------------------------------------------------------------*/

.contact_title h2{
  color: #ffffff;
  font-family: 'Myriad Pro Regular';
  font-size:40px;
  padding: 10px;
  
}
.contact_title p{
  color: #999999;
 font-family: 'Myriad Pro Regular';
  font-size: 16px;
  padding: 10px;
  
}
.contact_form{
    padding: 10px 0;
}
.contact_form  .form-control {
  background:none;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #ffffff;
  font-size: 18px;
 
}
.contact_form  .checkbox label, .radio label {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Myriad Pro Regular';
}

.contact_form input[type=checkbox]{
    background-color: #000000;
    color: #000000;
    
}
.contact_form input[type=checkbox]:hover{}
.contact_form  input[type=checkbox]:checked{
    outline: none;
}
.contact_form .btn-primary {
  background-color: #15a4fa;
  border-color: #15a4fa;
  color: #fff;
  font-size: 25px;
  padding: 5px 40px;
  transition: all 0.5s ease-in-out;
}
.contact_form .btn-primary:hover{
  background-color:#b0d1fa;
  border-color:#B0D1FA;
  color:#15a4fa;
}


/*--------------------------------------------------------------
# About us page
--------------------------------------------------------------*/
.about_page_top, .about_page_bottom{
    padding: 30px 0;
    background-color: #e5effc;
}

.about_page_content h3{
  color: #5e5e5e;
  font-family: 'Myriad Pro Regular';
  font-size:30px;
  padding: 5px; 
}
.about_page_content p{
  color: #5e5e5e;
  font-family: 'Myriad Pro Regular';
  font-size: 16px;
  padding: 5px;
  text-align: justify;
}
.about_page_content img{
    padding:30px 0;
}
.about_progressbar  .progress {
  background-color: #b0d1fa;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  height: 40px;
  margin-bottom: 20px;
  overflow: hidden;
}
.about_progressbar  .progress-bar {
  background-color: #15a4fa;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  float: left;
  font-size: 18px;
  height: 100%;
  line-height: 30px;
  text-align: left;
  transition: width 0.6s ease 0s;
  padding: 0 10px;
}
.about_accordian  .panel-heading {
    cursor: pointer;
    border-bottom: 1px solid transparent;
  border-radius: 3px;
 
  padding: 10px 0;
}
.crigtoggle h4{
  font-size:20px;
color:#5e5e5e;
}
.crigtoggle p{
  text-align:justify;
}

/* CSS Method for adding Font Awesome Chevron Icons */
.about_accordian  .accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f068";
    float: left;
    color: inherit;
    
    color:#ffffff;
    background-color: #15a4fa;
    padding: 0 10px;
  border: none;
  border-radius: 5px;
  
}
.about_accordian .panel-heading.collapsed .accordion-toggle:before {
    /* symbol for "collapsed" panels */
    content:"\f067";
}
.about_accordian  .panel-info > .panel-heading {
  background-color: #15a4fa;
  border-color: #15a4fa;
  color: #FFFFFF;
}
.about_accordian  .panel-info {
  border-color: #e5effc;
}
.about_accordian  .panel-group .panel {
  border-radius: 4px;
  margin-bottom: 20px;
}
.about_progressbar  .vc_progress_bar .vc_single_bar {
  background: #B0D1FA none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  margin-bottom: 11.67px;
  position: relative;
}
/*--------------------------------------------------------------
# Contact page
--------------------------------------------------------------*/

.get_in_touch{
    padding: 50px 0;
    background-color: #dfecf6;
}
.contact_page_title h2 {
  border-bottom: 2px solid #98cef0;
  color: #000000;
  font-family: 'Myriad Pro Regular';
  font-size: 40px;
  padding: 10px;
  width: 230px;
  margin: auto;
}
.contact_desc{
    padding: 20px 0;
}
.contact_desc p{
  color: #000000;
  font-family: 'Myriad Pro Regular';
 font-size: 16px;
  padding: 10px;
}
.border_right_left{
    border-right: 2px solid #98cef0;
    border-left: 2px solid #98cef0;
}

.contact_address i {
  color: #000000;
  font-size: 50px;
  padding: 20px;
}
.contact_address{
    padding: 10px 0;
}
.form_and_map{
    padding: 50px 0;
    background-color: #393c3f;
}
.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
  padding-top:0!important;
}
/*--------------------------------------------------------------
# Faq
--------------------------------------------------------------*/
.vc_tta-color-sky.vc_tta-style-outline .vc_tta-tab.vc_active > a {
  background-color: #15a4fa!important;
  border-color: #15a4fa!important;
  color: #ffffff!important;
}
.vc_tta-color-sky.vc_tta-style-outline .vc_tta-tab > a {
  background-color: transparent;
  border-color: #898989!important;
  color: #5d5d5d!important;
}
.vc_tta-color-sky.vc_tta-style-outline .vc_tta-tab>a:focus, .vc_tta-color-sky.vc_tta-style-outline .vc_tta-tab>a:hover {
    background-color: #15a4fa!important;
     border-color: #15a4fa!important;
    color: #ffffff!important;
}
.vc_tta.vc_general .vc_tta-tab > a {
 
  padding: 10px 33px!important;
  
}
.bodatoggle .vc_toggle_title:hover{
     background-color: #15a4fa;
     color:#ffffff;
}

.bodatoggle.vc_toggle_active .vc_toggle_title{
     background-color: #15a4fa;
     color:#ffffff;
}
.bodatoggle p{
  border: 1px solid #ddd;
  color: #000000;
  font-family: 'Myriad Pro Regular';
  font-size: 16px;
  padding: 10px;
  background-color: #d5e6fb;
  border-radius: 4px;
  text-align: justify;
}
.vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab.vc_active > a {
  background-color: #15a4fa!important;
  color: #ffffff!important;
}
.vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab > a {
  background-color:#b0d1fa!important;
  color: #000!important;
  border: none!important;
  border-radius: 0!important;
}
/*--------------------------------------------------------------
# pakage
--------------------------------------------------------------*/

.pakage_title{
    position: relative;
}
.pakage_title h2::after {
  border-bottom: 1px solid #15a4fa;
  content: "";
  display: inline-block;
  height: 50px;
  margin-left: -240px;
  position: absolute;
  width: 200px;
}


.custom_pakage_title{
    position: relative;
}
.custom_pakage_title h2::after {
  border-bottom: 1px solid #15a4fa;
  content: "";
  display: inline-block;
  height: 55px;
  margin-left: -188px;
  position: absolute;
  width: 160px;
}

.pakageform.form-horizontal .control-label {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
  padding-top: 7px;
  text-align: left;
}
.pakageform .form-control {
  background-color: #f7fafe;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #000;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 1.42857;
  padding: 5px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  text-align: center;
}
.pakageform .btn-primary {
  background-color: #c0dafb;
  border-color: #ddd;
  color: #44474b;
  font-size: 20px;
  padding: 5px 40px;
  transition: all 0.5s ease-in-out;
}
.pakageform .btn-primary:hover{
  background-color:#15a4fa;
  border-color:#B0D1FA;
  color:#ffffff;
}

.pakageform2.form-horizontal .control-label {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
  padding-top: 7px;
  text-align: left;
}
.pakageform2 .form-control {
  background-color: #c0dafb;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #96999c;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 1.42857;
  padding: 5px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  text-align: center;
}
.pakageform2 .btn-primary {
  background-color: #52bafa;
  border-color: #52bafa;
  color: #fff;
  font-size: 20px;
  padding: 5px 40px;
  transition: all 0.5s ease-in-out;
}
.pakageform2 .btn-primary:hover{
  background-color:#15a4fa;
  border-color:#B0D1FA;
  color:#ffffff;
}
/*--------------------------------------------------------------
# Pricing Table
--------------------------------------------------------------*/
.pricing_table{
    padding: 20px 0;
}
.pricing_table_single {
  background-color: #d5deea;
  border: medium none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #959ca4;
  color: #5c5b5b;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out 0s;
 margin:0 15px;
  
}
.pricing_head{
    background-color: #b0d1fa;
    border: medium none;
  border-radius: 5px;
  
}
.pricing_head h2{
   color: #5c5b5b;
 font-family: 'Myriad Pro Regular';
  font-size: 30px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
 
}
.pricing_body ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.pricing_body ul li{
  color: #5c5b5b;
  font-family: 'Myriad Pro Regular';
  font-size:18px;
  padding: 10px ;
}
.pricing_body ul li:last-child{
    border-bottom: 1px solid #989898;
}
.pricing_footer{
    padding: 10px;
}
.pricing_footer p{
  color: #5c5b5b;
 font-family: 'Myriad Pro Regular';
  font-size:25px;
 
}
.pricing_footer a:focus{
    outline: none;
}
.pricing_footer .btn-primary {
  background-color: #b0d1fa;
  border-color: #b0d1fa;
  color: #616161;
  font-size: 15px;
  padding: 5px 10px;
  text-transform: uppercase;
  
  transition: all 0.5s ease-in-out;
}
.pricing_table_single:hover .btn-primary{
    background-color: #15a4fa;
    color: #fff!important;
}
.pricing_table_single:hover .pricing_head h2{
    background-color: #15a4fa;
    color: #fff!important;
 border-radius: 5px;
}
/*--------------------------------------------------------------
# Testimonial 
--------------------------------------------------------------*/




.testimonial-area a:focus{
    outline: none;
}
.testimonial-area h1{
   font-size:40px;
   color:#fff;
   padding: 10px;
    font-family: 'Myriad Pro Regular';
    text-transform: uppercase;
}
.testimonial-area h1::after {
  border-bottom: 1px solid #15a4fa;
  content: "";
  display: inline-block;
  height: 55px;
  margin-left: -188px;
  position: absolute;
  width: 160px;
}
.qutations p {
  color: #fff;
  font-family: "Myriad Pro Regular";
  font-style: italic;
  padding: 15px 45px;
}
.qutations p:before{
    position:absolute;
    content:"";
    left:10px;
    content:"\f10d";
    font-family:FontAwesome;
    color:#14a3f9;
    font-size:25px;
    top:0px;
}
.qutations p:after{
    position:absolute;
    content:"";
    right:10px;
    content: "\f10e";
    font-family:FontAwesome;
    color:#14a3f9;
    font-size:25px;
    top:0px;
}
.managing-img h4{
    color:#14a3f9;
    font-size:20px;
     font-family: 'Myriad Pro Regular';
     padding: 10px 0;
}
div.testimonial-list .managing-img > img {
  width:100px;
  height:100px;
  border-radius:100%; 
}
.ktitslider {
    position: absolute;
    left: 0;
    top: 50%;
    border: 1px solid#14a3f9;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #14a3f9;
    font-size: 25px;
    padding: 5px;
    border-radius: 50%;
    z-index: 9;
    transition: all 0.5s ease-in-out;
}
.right.ktitslider {
    left: auto;
    right: 0;
    color: #fff;
}
.ktitslider:hover {
    background: #14a3f9;
    color: #fff;
    border: 1px solid #14a3f9;
}
/*--------------------------------------------------------------
# woocommerce
--------------------------------------------------------------*/


.craigcart h1{

  border:2px solid #129cf5;
padding:10px 0;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: #14A3F9;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    background-color: #019cd5;
    color: #515151;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
  border: 1px solid #2083fe;
  padding: 6px 6px 10px;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: #2083fe;
  color: #fff;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #019cd5;
    color: #fff;
}
.woocommerce .woocommerce-info {
  border-top-color: #129cf5;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
  background-color: #b0d1fa;
  
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    background-color: #f7fafe;
   border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
     color: #000;
      padding: 5px 12px;
      height: 40px;
}
#add_payment_method #payment, .woocommerce-checkout #payment {
  background: #b0d1fa none repeat scroll 0 0;
  
}
#add_payment_method #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
  background-color:#b0d1fa;
  
}
#add_payment_method #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
 
  border-color: transparent transparent #b0d1fa;
 
}
.woocommerce .woocommerce-message {
  border-top-color: #129cf5;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#colophon{
    
    width: 100%;
   
    background-color: #b0d1fa;
    border: 1px  solid#ddd;
}
#colophon p{
   padding: 20px 0;
   font-family: 'Myriad Pro Regular';
   font-weight: 300;
   font-size: 15px;
    
    
    
}
.social_link{
    padding: 20px 0;
}


.social_link  ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.social_link ul li {
  float: left;
  
}
.social_link ul li a{
    text-decoration: none;
    padding:5px;
    transition: all 0.5s ease-in-out;
}
.social_link ul li a:hover{ 
    color:#b0d1fa
}
.social_link ul li i:hover {
    color: #14A4FA;
    border: none;
    border-radius: 100%;
    background: #dd4b39;
    
}
.social_link ul li a:focus{
outline: none;
}
.social_link ul li i {
  background-color: #14a4fa;
  border: medium none;
  border-radius: 5px;
  color: #f4fff2;
  font-size: 15px;
  height: 35px;
  padding: 11px;
  width: 35px;
     transition: all 0.5s ease-in-out;
}
.footer_menu{
    padding: 10px 0;
}
.footer_menu .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #15a4fa;
}
/* css for scrollup */
.scrollup {
  background: #15a4fa none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  bottom: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  height: 30px;
  position: fixed;
  right: 10px;
  width: 30px;
}

/* Preloader */

#loading{
	background-color: #15a4fa;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999999;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 20px;
	width: 100px;
	margin-top: -10px;
	margin-left: -50px;

}
.object{
	width: 20px;
	height: 20px;
	background-color: #FFF;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	margin-right: 20px;
	margin-bottom: 20px;
	position: absolute;	
}


#object_one{
	-webkit-animation: object 2s linear infinite;
	 animation: object 2s linear infinite;
	 }
#object_two{ 
	-webkit-animation: object 2s linear infinite -.4s;
	animation: object 2s linear infinite -.4s;
	 }
#object_three{ 
	-webkit-animation: object 2s linear infinite -.8s; 
	animation: object 2s linear infinite -.8s; 
	}
#object_four{ 
	-webkit-animation: object 2s linear infinite -1.2s;
	animation: object 2s linear infinite -1.2s; 
	} 
#object_five{ 
	-webkit-animation: object 2s linear infinite -1.6s; 
	animation: object 2s linear infinite -1.6s; 
	}
	
	
@-webkit-keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }		
	
}		
@keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }
}	